/* Colors
---------------------------*/
$font-color: #333;
$link-color : #0056b3;
$body-color: #fafafa;            

/* Fonts
---------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
$primary-font: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
$secondary-font: 'Roboto Slab', serif;



